:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}


/* CUSTOM */

#navigation {
  width: 500px !important;
}

.Navigation {
  background-color: #fff;
}

.Chat-Box input {
  min-width: 100%;
  max-width: 100%;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 4fr; 
  grid-template-rows: 1fr; 
  gap: 24px 24px; 
  grid-template-areas: 
    "Navigation Chat-Box"; 
}

.chatBoxContainer {
  height: 100vh;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr; 
  grid-template-rows: 3fr 0.5fr; 
  gap: 50px 50px; 
  grid-template-areas: 
    "chatgpt-responses"
    "request-form"; 
    position: relative;
}

.request-form {
  position: absolute;
  bottom: 12px;
  grid-area: request-form; 
  width: 100% !important;
}

.chatgpt-responses { 
  grid-area: chatgpt-responses;
  height: 100%; 
}

.chatInput {
  width: 600px !important;
}

.spinner {
  margin: auto;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
