$white: #fff;
$grey: #242424;
$grey2: #535353;
$green: #1dc95b;
$font-family_1: Inter,
system-ui,
Avenir,
Helvetica,
Arial,
sans-serif;


/* CUSTOM */
:root {
  font-family: $font-family_1;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: $white;
  background-color: $grey;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 1fr;

  grid-template-areas: "Navigation Chat-Box";
}


a {
  color: inherit;
  text-decoration: inherit;
}


#navigation {
  position: fixed;
	
}

.Chat-Box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: calc(100vh - 80px) 80px;
	

	#prompt {
		#promptForm {
			max-width: 100%;
			min-width: auto;
			background-color: $grey2;	
			padding: 12px 24px;
			margin-left: auto;
			border-top: 1px black solid;
		}
	}

  #infiniteScroll,
  // [class*=infinite-scroll-component],
  .infinite-scroll-component__outerdiv,
  .infinite-scroll-component {
    height: 100% !important;
  }
}

.Prompt {
  padding-left: 24px;
  padding-right: 24px;
}

.chatBoxContainer {
  height: 100vh;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 0.5fr;
  grid-template-areas: "chatgpt-responses""request-form";
  position: relative;
}

.chatInput {
  width: 600px !important;
}

.chatButton {
  width: 100% !important;
  text-align: left !important;
}


.chatgpt-responses {
	padding: 0 24px;
}


