@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap');

$white: #fff;
$grey: #242424;
$grey2: #535353;
$grey3: #121212;
$blue: #30BCED;

$lora: 'Lora', serif;
$roboto: 'Roboto', sans-serif;



/* CUSTOM */
:root {
  font-family: $roboto;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: $white;
  background-color: $grey;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $lora;

}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 1fr;

  grid-template-areas: "Navigation Chat-Box";
}


a {
  color: inherit;
  text-decoration: inherit;
}


#navigation {
  position: fixed;
}

#mobileNavigation {
  .MuiToolbar-root  {

    background-color: $grey3 !important;
  }
}

.Chat-Box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: calc(100vh - 82px) 80px;

  #welcomeMessage {
    margin-top: 1rem;

    h1 {
      margin: 0;
    }

    .card {
      background-color: $grey2;
      padding: 1.2rem;
      border-radius: 1rem;
      text-align: center;
      margin: 1.2rem;

      p {
        margin: 0 !important;
      }
    }
  }

  #prompt {
    #promptForm {
      max-width: 100%;
      min-width: auto;
      background-color: $grey2;
      padding: 1rem 2rem;
      margin-left: auto;
      border-top: 1px black solid;

			.MuiFormControl-root {
				width: 100%;
			}
    }
  }

  #infiniteScroll,
  // [class*=infinite-scroll-component],
  .infinite-scroll-component__outerdiv,
  .infinite-scroll-component {
    height: 100% !important;
  }
}

.Prompt {
  padding: 0 2rem;
}

.chatBoxContainer {
  height: 100vh;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 0.5fr;
  grid-template-areas: "chatgpt-responses""request-form";
  position: relative;
}

.chatInput {
	min-width: auto;
  max-width: 600px !important;
}

.chatButton {
  width: 100% !important;
  text-align: left !important;
}


.responses {
  margin: 2rem;
}

@media screen and (max-width: 900px) {
  .Chat-Box {
    width: 100vw;
    grid-template-rows: calc(100vh - 138px); // prompt input height + mobile navigation height
  }

  .Navigation {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .mobileNavigation {
    display: none;
  }
}
