@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap');

$white: #fff;
$grey: #242424;
$grey2: #535353;
$grey3: #121212;
$blue: #30BCED;
$orange: #ff9800;
$blueGlow: 0 0 1px hsla(0, 0%, 100%, 0.667),
0 0 2px $blue,
0 0 4px $blue,
0 0 6px $blue;
$orangeGlow: 0 0 1px hsla(0, 0%, 100%, 0.667),
0 0 2px $orange,
0 0 4px $orange,
0 0 6px $orange;
$lora: 'Lora',
serif;
$roboto: 'Roboto',
sans-serif;



/* CUSTOM */
:root {
  font-family: $roboto;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: $white;
  background-color: $grey;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $lora;

}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 1fr;

  grid-template-areas: "Navigation Chat-Box";
}


a {
  color: inherit;
  text-decoration: inherit;
}

#navigation {
  position: fixed;
  border-right: 1px solid $white;
}

#mobileNavigation {

  .navIcon {
    color: $white
  }

  .MuiToolbar-root {
    background-color: $grey3 !important;
  }
}

.Chat-Box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: calc(100vh - 93px) 93px;

  h3 {
    margin-bottom: 0;
  }

  #welcomeMessage {
    margin-top: 1rem;

    h1 {
      margin: 0;
    }

    .card {
      background-color: $grey2;
      padding: 1.2rem;
      border-radius: 1rem;
      text-align: center;
      margin: 1.2rem;

      p {
        margin: 0 !important;
      }
    }
  }

  #drawer {
    z-index: 999;
  }

  #prompt {
    background-color: $grey3;
    border-top: 1px $white solid;

    .warning a {
      text-shadow: $blueGlow;

      &:hover {
        text-shadow: $orangeGlow !important;
      }
    }

    #promptForm {
      max-width: 100%;
      min-width: auto;
      padding: 0 2rem;
      padding-top: 6px;
      background-color: $grey3;

      .MuiFormControl-root {
        width: 100%;
      }

      .submitMessageBtn {

        &:hover {
          color: $blue
        }
      }
    }

    .warning {
      font-size: 12px;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 1rem;
      margin-bottom: 0;
    }
  }

  #infiniteScroll,
  .infinite-scroll-component__outerdiv,
  .infinite-scroll-component {
    height: 100% !important;
  }
}


.Prompt {
  padding: 0 2rem;
}

.chatBoxContainer {
  height: 100vh;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 0.5fr;
  grid-template-areas: "chatgpt-responses""request-form";
  position: relative;
}

.chatInput {
  min-width: auto;
  max-width: 100%;
  margin: 0 !important;
}

.chatButton {
  width: 100% !important;
  text-align: left !important;
}

.responses,
#welcomeMessage {
  margin: 2rem;
}


.spinner {
  margin-left: 2rem !important;
}

@media screen and (max-width: 900px) {
  .container {
    height: calc(100vh - 56px);
  }

  .Chat-Box {
    width: 100vw;
    height: calc(100vh - 56px);
    grid-template-rows: calc(100vh - 93px) 93px; // prompt input height + mobile navigation height
  }

  .Navigation {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .container {
    height: calc(100vh - 56px);
  }

  .Chat-Box {
    width: 100vw;
    height: calc(100vh - 129px);
    grid-template-rows: calc(100vh - 129px) 129px; // prompt input height + mobile navigation height
  }

  .Navigation {
    display: none;
  }
}

@media screen and (min-width: 901px) {
  .mobileNavigation {
    display: none;
  }
}